<template>
  <div>
    <div id="refresh-pixel" @click="resetView" @dblclick="reload"></div>
    <div id="teaminfo-pixel" @click="teaminfo"></div>
    <div id="rickroll-pixel" @dblclick="rickroll"></div>
    <template v-if="rickrollVisible">
      <video autoplay ref="rickrollRef" id="rickroll-video" @dblclick="rickroll"
             src="/sound/rickroll.mp4"></video>
    </template>

    <!-- HOME part -->
    <div>
      <!-- just the logo -->
      <img src="/img/homescreen_black.png" @click="goHome" class="layer">

      <!-- STAND part -->
      <div :class="{stand:true, layer: true, visible:standDetail.visible, [standDetail.art]:true}">
        <img :src="'/img/stand/' + standDetail.typ.substr(0,1)+ standDetail.id + '.jpg'" style="object-fit: cover"
             class="image" alt="">

        <!-- overlay -->
        <img src="/img/backgroundOhneBild.svg" class="layer">

        <!--        <img :src="'/img/typ/'+standDetail.typ+'.png'">-->
        <svg viewBox="0 0 3112 3385" class="image standDescription" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
             style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <path d="M1.489,233.331L405.147,1.239L3110.95,1563.34L3110.95,3384.8L1.489,3384.8L1.489,233.331Z"
                  :style="'fill:'+standDetail.farbe+';'"/>
        </svg>
        <img src="/img/raumnummer.png" class="image raumnummerBg">
        <div class="image raumnummer">{{ standDetail.id }}</div>
        <div class="image text art">{{ standDetail.art }}</div>
        <div class="image text title">
          <div class="actual-title">{{ standDetail.title }}</div>

          <div class="paragraph" style="font-size: 1.6rem;margin-top:1em">
            <div v-if="teaminfoVisible">
              <span v-if="standDetail.contact.length>0">Kontakt: {{ standDetail.contact }},</span>
              <span v-if="standDetail.contact_team.length>0">Team-Kontakt: <span
                  style="text-transform: capitalize">{{ standDetail.contact_team }}</span></span>
            </div>
            {{ standDetail.description }}
          </div>
        </div>
      </div>

      <!-- landkarte -->
      <img :src="'/img/foyer.png'" v-show="etage=='foyer'" class="layer etage">
      <img :src="'/img/1etage.png'" v-show="etage!=='foyer'" class="layer etage">

      <!-- clickable areas -->
      <div class="click-container" v-if="etage === 'foyer'">
        <img v-for="stand in standinfo.filter(stand=>stand.id!=='D22')" @click="showStand(stand)"
             :class="{'click':true, 'active':standDetail._id === stand.id && standDetail.visible}"
             :height="parseFloat(('0'+stand.h).replace(',','.'))*1.8"
             :width="parseFloat(('0'+stand.w).replace(',','.'))*1.7"
             :style="{
                left: parseFloat(stand.x)*1.28 + 'px',
                top: parseFloat(stand.y)*1.28 + 'px',
             }"
             :src="'/img/click/' + stand.id + '.svg'">
      </div>
      <div class="click-container" v-else>
        <img v-for="stand in standinfo.filter(stand=>stand.id==='D22')" @click="showStand(stand)"
             :class="{'click':true, 'active':standDetail._id === stand.id && standDetail.visible}"
             :height="parseFloat(('0'+stand.h).replace(',','.'))*1.8"
             :width="parseFloat(('0'+stand.w).replace(',','.'))*1.7"
             :style="{
                left: parseFloat(stand.x)*1.28 + 'px',
                top: parseFloat(stand.y)*1.28 + 'px',
             }"
             :src="'/img/click/' + stand.id + '.svg'">
      </div>

      <!-- menu -->
      <div id="etagenwahl" class="layer">
        <div @mousedown="setEtage('1etage')"
             :class="{active:etage === '1etage'}">1. OG
        </div>
        <div @mousedown="setEtage('foyer')" :class="{active:etage === 'foyer'}">Erdgeschoss</div>
      </div>
    </div>

  </div>
</template>

<style>

#refresh-pixel {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 50px;
  height: 50px;
}

#teaminfo-pixel {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 50px;
  height: 50px;
}

.stand.layer.Workshop,
.stand.layer.Firma,
.stand.layer.Vortrag,
.stand.layer.Demo {
  color: white !important;
}

.click-container {
  width: 50vw;
  left: 44vw;
  top: 9.05vh;
  height: 50vh;
  margin-left: .1vw;
  position: absolute;
}

.click {
  border: 2px dotted transparent;
  position: absolute;
}

.click.active {
  animation: radar-active 1s infinite;
  border-radius: 2px;
  opacity: .8;
}

@keyframes radar-active {
  0% {
    transform: scale(1);
    opacity: .8;
  }
  50% {
    transform: scale(1.1);
    border-color: gray;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: .8;
  }
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4em;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  inset: 0;
  position: absolute;
}

.etage {
  width: 51%;
  height: 67%;
  top: 10%;
  right: 2%;
  object-fit: contain;
  left: initial;
}

#etagenwahl {
  right: 7%;
  top: 15%;
  left: initial;
  bottom: initial;
  width: auto;
  height: auto;
}

#etagenwahl > div {
  padding: 10px 30px;
  width: 100%;
  color: purple;
  text-align: center;
  background-color: white;
  transition: .1s;
  cursor: pointer;
}

.stand {
}

#etagenwahl > div.active, #etagenwahl > div:hover {
  background-color: purple;
  color: white;
}

/* import  OpenSans_Condensed-Regular.ttf */
@font-face {
  font-family: 'Open Sans Condensed';
  src: url('/fonts/OpenSans_Condensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.stand {
  position: fixed;
}

.bg-white {
  background-color: white;
}

.stand .image {
  position: absolute;
  left: 0;
  top: 0;
  width: 39%;
  height: 35%;
}

.stand .standDescription {
  top: initial;
  bottom: 0;
  height: auto;
}

* {
  user-select: none !important;
}

.stand .raumnummer, .stand .raumnummerBg, .stand .text {
  height: auto;
  left: 1.7%;
  top: 35%;
  width: 7%;
}


.stand .text {
  width: 35vw;
  height: 44.5vh;
  padding-bottom: 5vh;
  overflow-y: auto;
  z-index: 300000;
  position: absolute;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.stand .text::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.stand .text .actual-title {
  max-width: 32vw;
}

.stand .raumnummer {
  color: #000;
  font-size: 3em;
  text-align: center;
  padding: 30px 0;
}

.stand .text.art {
  display: flex;
  height: 11%;
  align-items: center;
  margin-left: 140px;
}

.stand .text {
  font-size: 1.5em;
  padding: 15px;
}

.stand .text.title {
  font-size: 2em;
  padding: 0;
  margin-top: 10.5%;
}

.stand .text.description {
  padding: 0;
  font-size: 1.1em;
  margin-top: 14%;
}

.stand {
  transition: .5s;
  opacity: 0;
}

.stand.visible {
  opacity: 1;
}

#rickroll-video, #rickroll-pixel {
  position: absolute;
  z-index: 1000;
  right: 98px;
  border-radius: 50%;
  bottom: 114px;
  width: 64px;
  height: 64px;

}

#rickroll-video {
  object-fit: cover;
  z-index: 1001;
  animation: rickroll 100s infinite linear;
}

@keyframes rickroll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg)
  }
}
</style>

<script setup lang="ts">
const teaminfoVisible = ref(false)
const teaminfo = () => {
  teaminfoVisible.value = !teaminfoVisible.value
}

const standinfo = useStandinfo()
const etage = ref("foyer") // od. foyer 1etage
const standDetail = ref({
  visible: false,
  id: -1,
  typ: "plakat",
  art: "[Art]",
  title: "[Title]",
  contact: "[Contact]",
  contact_team: "[Contact Team]",
  description: "[Description]",
  farbe: 'rgb(255,100,0)'
})

const showStand = (stand) => {
  standDetail.value = {
    visible: true,
    id: stand.id.substr(1),
    _id: stand.id,
    typ: stand.type,
    art: stand.type,
    title: stand.title,
    description: stand.description,
    contact: stand.contact,
    contact_team: stand.contact_team,
    farbe: colors[stand.type]
  }
}
const goHome = () => {
  standDetail.value.visible = false
}

const reload = () => {
  location.reload()
}

const resetView = () => {
  console.log("reset view")
  etage.value = "foyer"
  standDetail.value.visible = false
  teaminfoVisible.value = false
}

// reload every 5 minutes but reset timer on click
let reloadTimer = setTimeout(resetView, 1000 * 60 * 2)
let refreshTimer = setTimeout(reload, 1000 * 60 * 5)
const resetReloadTimer = () => {
  console.log("reset reload timer")
  clearTimeout(reloadTimer)
  reloadTimer = setTimeout(resetView, 1000 * 60 * 2)
  refreshTimer = setTimeout(reload, 1000 * 60 * 5)
  clickSound();
}

// when any click on body
if (typeof document !== "undefined") {
  // on touch down
  document.body.addEventListener("mousedown", resetReloadTimer)
}
// on touch up

let blockSound = false
const clickSound = () => {
  rickrollVisible.value = false
  if (blockSound) return
  let audio = new Audio('/sound/click.wav');
  audio.play();
}
const elevatorSound = () => {
  let audio = new Audio('/sound/elevator.wav');
  audio.play();
}


const setEtage = (etageName: string) => {

  if (etageName === etage.value) return

  blockSound = true
  // elevatorSound()
  let audio = new Audio('/sound/' + etageName + '.wav');
  audio.play();

  etage.value = etageName
  setTimeout(() => {
    blockSound = false
  }, 1000)
}
const rickrollVisible = ref(false)
const rickroll = () => {
  rickrollVisible.value = true
  setTimeout(() => {
    rickrollVisible.value = false
  }, 1000 * 60 * 5)
}

const colors = {
  'Demo': '#008BD0',
  'Vortrag': '#97BF0D',
  'Workshop': '#6D1F80',
  'Poster': '#E2007A',
  'Firma': '#dc3314',
  '': '#dc3314',
}
</script>
